<tr id="new-song-row">
<%= form_for(@song, :remote => true) do |f| %>
  <% if @song.errors.any? %>
  <td colspan="5">
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </td>
  </tr>
  <tr>
  <% end %>
  <td>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :artist %><br />
    <%= f.text_field :artist %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :critic %><br />
    <%= f.text_field :critic %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.number_field :rank %>
  </div>
  </td>
  <td>
  <div class="actions">
    <%= f.submit %>
  </div>
  </td>
<% end %>
</tr>